@use 'main';
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: main.$font-family;
  background: main.$background-color;
  color: main.$text-color;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: main.$accent-color;
}

::-webkit-scrollbar-thumb {
  background: main.$sunglow;
}

::-webkit-scrollbar-thumb:hover {
  background: main.$brandy-punch;
}

